body{
background-color: #4695d6 ;
padding-left: 50px;
padding-top: 75px;
}

#nav ul {
list-style-type: none;
margin: 0;
padding: 0;
top: 0;
left: 0;
overflow: hidden;
background-color: #f69e53;
width: 100%;
position: fixed; 
z-index: 100;
}

#nav li {
height: 50px;
line-height: 40px;
float: left;/*delete for vertical bar*/
color: white;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}

#nav li a {
display: block;
color: #fff;
padding: 8px 16px;
text-decoration: none;

}
/* Change the link color to #111 (black) on hover */
#nav li a:hover {
background-color: #111;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap:20px;
	grid-auto-rows: auto;
	grid-template-rows: none;
}
#name {
	grid-column: 1/3;
	grid-row: 1;
	text-align: center;
}
h1{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	text-align: center;
}

p{
	color: white;
	font-family: 'Open Sans',sans-serif;
	font-size: 24px;
}
h3{
	color: white;
	font-family: 'Open Sans',sans-serif;

}

#bio {
	background-color: #f69e53;
	grid-column: 2;
	grid-row: 2;
}


#videography {
	padding-top: 60px;
}

#contacts img {
	height:75px;
	margin-right: 32px;
	text-align: center;

}
#contacts{
	padding-top: 30px;
}
#icons{
	align-items: center;
}




